
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "../../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap";

a.overlayLink{
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  width: 100%; height: 100%;
  z-index: 999;
}

.panel-body{
  h3,p{
    font-weight: bold;
    span{ font-weight: normal; }
  }
}
